<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About this app</h1>
    <div class="container">
        <p>This is simple banking app backend by node.js
            <p><b>Features - </b></p>
            <p>- Account generation, closing</p>
            <p>- Money withdrawal, deposite, account info & transaction history</p>
            <p>- login, signup etc</p>            
        </p>
    </div>
</body>
</html>